In [10]:
import geopandas as gpd
import boto3

In [11]:
session = boto3.session.Session(profile_name='saml-pub')
s3 = session.client('s3')

In [12]:
bucket_name = 'opera-validation-datasets'
root_folder_name = 'calval-database-dev/'

In [13]:
response = s3.download_file(bucket_name,root_folder_name+'site.geojson','LOCAL_site.geojson')

In [14]:
site = gpd.read_file('LOCAL_site.geojson')
site.head(15)

    water_content site_name                                           geometry
0               3      3_38  MULTIPOLYGON (((-159.89875 69.30000, -159.6590...
1               4      4_27  MULTIPOLYGON (((-113.21200 67.14000, -113.0985...
2               4      4_43  MULTIPOLYGON (((17.61000 66.06000, 17.91700 66...
3               3       3_1  MULTIPOLYGON (((59.86900 65.88000, 59.89200 65...
4               4      4_34  MULTIPOLYGON (((-96.79875 62.82000, -96.57700 ...
5               3      3_30  MULTIPOLYGON (((130.96225 61.56000, 131.29600 ...
6               4      4_26  MULTIPOLYGON (((-76.23275 60.84000, -75.91725 ...
7               2      2_24  MULTIPOLYGON (((102.03050 59.94000, 102.16800 ...
8               3      3_25  MULTIPOLYGON (((31.92750 59.76000, 32.12300 59...
9               3       3_5  MULTIPOLYGON (((-119.69100 59.58000, -119.6670...
10              4      4_20  MULTIPOLYGON (((-105.82275 59.40000, -105.6510...
11              4       4_9  MULTIPOLYGON (((8.25000 58.68000, 8.55000 58.6...
12              3      3_42  MULTIPOLYGON (((-123.03675 57.96000, -123.0050...
13              3      3_19  MULTIPOLYGON (((43.58250 57.78000, 43.68850 57...
14              3       3_2  MULTIPOLYGON (((107.00100 57.24000, 107.17250 ...